/* -- Introduction --*/

#introduction-section .content {
  width: 80%;
  margin: auto;
}

.text-container {
  letter-spacing: 2px;
  font-weight: 300;
}

.text-container p:first-of-type {
  margin-bottom: 40px;
}

.text-container q,
em {
  font-size: 0.8rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 0.6rem;
}

.title p {
  width: 100%;
}

.title .line {
  width: 15vw;
  height: 2px;
  background-color: var(--palleta-orange);
  margin: 0 20px;
}

/*--> Cards */

.resume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  margin: 40px auto auto auto;
}

.resume-card {
  width: 200px;
  border: 1px solid rgba(165, 161, 161, 0.18);
  background-color: rgba(96, 96, 96, 0.048);
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
}

.resume-card h4 {
  font-weight: 400;
}

.resume-card p {
  color: var(--text-color);
  font-weight: 200;
}

.resume-card .icon {
  width: 30px;
  height: 20px;
}

/* Tech Section*/

#technologies-section .resume-container {
  max-width: 800px;
  flex-wrap: wrap;

  justify-content: space-evenly;
  gap: 5px;
  margin-top: 40px;
}

/* -- Experience -- */

/* Responsive */

@media (max-width: 800px) {
  #about #introduction-section {
    width: 100%;
  }

  #about .text-container {
    width: 100%;
  }

  #about .resume-container {
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  #technologies-section .resume-container {
    max-width: none;
    width: 90%;
    gap: 8px;
  }
}
