/* -- Introduction --*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  margin-right: 100px;
}

/*--> Cards */
:root {
  --color-card-primary: #231f20;
  --color-card-secondary: rgb(216, 92, 54);
}

.card {
  height: 200px;
}

.card:nth-child(even) {
  position: relative;
  left: 50px;
}

.card:nth-child(odd) {
  position: relative;
  left: 50px;
}

/* Responsive */

@media (max-width: 800px) {
}
