.container-router {
  margin: auto;
  height: 100%;
}

.container {
  height: 100%; /*Problema al poner vh se desplaza el canvas, mirar mas adelante*/
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 4em;
}

#header {
  height: 80vh;
}

#about {
  color: white;
  flex-direction: column;
  max-width: 800px;
}

#contact {
  color: white;
  flex-direction: column;
  max-width: 800px;
}

#works {
  color: white;
  flex-direction: column;
  max-width: 800px;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  #header {
    flex-direction: column;
  }
}
