#menu-container .section-container-left {
  position: fixed;
  height: 100%;
  width: 4%;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: var(--palleta-dark);
}

#menu-container .nav-container {
  position: fixed;
  border-left: 1px dotted rgb(152, 152, 152);
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  left: 4%;
  top: 0;
  height: 100vh;
  width: 120px;
  gap: 24px;
}

#menu-container .nav-links {
  text-decoration: none;
  color: var(--palleta-white);
  text-align: left;
  padding: 1em 0 1em 5px;
  border: 1px solid var(--palleta-orange);
  border-radius: 0px 10px 10px 0px;
  background-color: var(--palleta-grey);
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  transform: translateX(-112px);
  z-index: 99999;
}

#menu-container .nav-links:hover {
  transform: translateX(0);
  background-color: var(--palleta-orange);
  transition: all 0.4s linear;
}

#menu-container .icon-menu {
  width: 30px;
  height: 30px;
}

#menu-container .section-container-right {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 4%;
  top: 0;
  right: 0;
  border-left: 1px dotted rgb(152, 152, 152);
}

#menu-container .icon-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

#menu-container .img-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  height: 100%;
  padding-top: 12px;
}

#menu-container .arrow-container .arrow {
  width: 30px;
  height: 60px;
  color: var(--palleta-orange);
  cursor: pointer;
}

#menu-container .img-container img {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: auto;
}

/*---MOBILE----*/

#mobile-nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav-mobile {
  background-color: var(--palleta-orange);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 40%;
  padding: 40px;
}

#mobile-nav-container .nav-links {
  text-decoration: none;
  color: var(--palleta-white);
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  padding: 0.4em .1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: all 1s ease-in-out;
}

#mobile-nav-container .nav-links:hover{
  border-bottom: 2px dashed white;
  border-right: 2px solid white;
  color: rgb(12, 12, 12);
  transition: all 1.5s ease-in-out;
}

#mobile-nav-container .icon-menu {
  width: 30px;
  height: 30px;
}

.btn-open {
  background-color: transparent;
  color: var(--palleta-orange);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: 20px;
  top: 20px;
}

.btn-close {
  z-index: 999;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-close:hover {
  scale: 1.2;
  color: black;
  transition: all 0.5s ease-in;
}

.btn-open:hover {
  scale: 1.2;
  color: var(--palleta-white);
  transition: all 0.5s ease-in;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .arrow-container .arrow {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 20px;
  }

  /*Mobile*/
  #menu-container {
    display: none;
  }

  #mobile-nav-container {
    display: block;
  }
}
