
.section-container-left {
    position: fixed;
    height: 100%;
    width: 4%;
    top: 0;
    border-right: 1px solid rgb(152, 152, 152);
}

.nav-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    justify-content: center;
    height: 100%;
    left: 100%;
    width: 120px;
    gap: 24px;
}

.nav-links {
    text-decoration: none;
    color: var(--palleta-white);
    text-align: left;
    padding: 1em 0 1em 5px;
    border: 1px solid var(--palleta-orange);
    border-radius: 0px 10px 10px 0px;
    background-color: var(--palleta-grey);
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.icon-menu {
    width: 30px;
    height: 30px;
}

.section-container-right {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 4%;
    top: 0;
    right: 0;
    border-left: 1px solid rgb(152, 152, 152);
}

.icon-container {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.img-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    height: 100%;
    padding-top: 12px;
}

.arrow-container .arrow {
    width: 30px;
    height: 60px;
    color: var(--palleta-orange);
}

.img-container img{
    width: 30px;
    height: 30px;
}